@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --font-family: 'Manrope', sans-serif;
    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
    --color-bg: #040C18;
    --color-footer: #031B34;
    --color-blog: #042c54;
    --color-text: #81AFDD;
    --color-subtext: #FF8A71;
    --transition: all .4s ease-in-out;
    --transition-animation: transform 1s ease;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    overflow-x: hidden;
}

a {
    color: unset;
    text-decoration: none;
}

/* first nav */
.firstNavbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 2rem 4rem;
}

.firstNavbar .logoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: self-end;
    justify-self: flex-end;
}

.firstNavbar .logoSection img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.firstNavbar .logoSection .logoName {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}

.firstNavbar .searchSection {
    position: relative;
    background: #f2f2f2;
    padding: 15px;
    width: 450px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.firstNavbar .searchSection input {
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 20px;
}


.firstNavbar .searchSection .icon {
    color: gray;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.firstNavbar .userSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.firstNavbar .userSection .userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.firstNavbar .userSection .userInfo i {
    font-size: 25px;
    color: #176ab7;
}

.firstNavbar .userSection .userInfo p {
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 500;
}

/* first nav */

/* second nav */
.secNavbar {
    width: 100%;
    background-color: #222;
    position: relative;
}

.secNavbar .navlinks .navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;

}

.secNavbar .navlinks .navMenu li {
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    position: relative;

}

.secNavbar .navlinks .navMenu a {
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    padding: 20px 10px;
}

.secNavbar .navlinks .navMenu li::before,
.secNavbar .navlinks .menu li::before {
    content: "";
    width: 0;
    height: 2px;
    background: #55a6f1;
    position: absolute;
    bottom: -2px;
    right: 0;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    transform-origin: right;
}

.secNavbar .navlinks .navMenu a:hover>li::before,
.secNavbar .navlinks .menu li:hover::before {
    width: 100%;
    -webkit-transform-origin: left;
    transform-origin: left;
    left: 0;
    right: auto;
}

.secNavbar .navlinks ul a i {
    font-size: 12px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.secNavbar .navlinks ul a:hover i {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
}

.secNavbar .navlinks ul:hover a {
    opacity: .5;
}

.secNavbar .navlinks ul a:hover {
    opacity: 1;
}

.secNavbar .navlinks .menu .drop {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    min-width: 100%;
    top: 63px;
    left: 0;
    background: #3e619b;
    /* background: #004e9a; */
    /* background: #428cd4; */
    padding: 2rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-3em);
    -webkit-transform: translateY(-3em);
    -moz-transform: translateY(-3em);
    -ms-transform: translateY(-3em);
    -o-transform: translateY(-3em);
    transition: all .3s ease 0s, visibility 0s linear .3s,
        z-index 0s linear .01s;
    -webkit-transition: all .3s ease 0s, visibility 0s linear .3s, z-index 0s linear .01s;
    -moz-transition: all .3s ease 0s, visibility 0s linear .3s, z-index 0s linear .01s;
    -ms-transition: all .3s ease 0s, visibility 0s linear .3s, z-index 0s linear .01s;
    -o-transition: all .3s ease 0s, visibility 0s linear .3s, z-index 0s linear .01s;
}


.secNavbar .navlinks .menu ul {
    list-style: none;
    color: #666;
    display: block;
    padding: 0 10px;
}

.secNavbar .navlinks .menu ul li {
    padding: 5px 0;
    position: relative;
    width: fit-content;
}

.secNavbar .navlinks .navMenu a:hover .drop,
.secNavbar .navlinks .navMenu a:focus .drop,
.secNavbar .navlinks .navMenu a:focus-within .drop {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition-delay: 0s, 0s, 0.3s;
}